/* utils */
.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: #bebcbb;
}

.bg-dark-blue{
    background-color: #161c3b;
}

.bg-ps-blue{
    background-color: #00439c;
}
/* general */

.navbar-brand i{
    font-size: 35px;
}

.navbar-nav button i{
    font-size: 25px;
}

#sony img{
    width: 100px;
}

main{
    padding-top: 100px;
}

footer .big i{
    font-size: 45px;
}
