/* utils */
.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: #bebcbb;
}

.bg-dark-blue{
    background-color: #161c3b;
}

.bg-ps-blue{
    background-color: #00439c;
}
/* general */

header{
    z-index: 1;
}

.navbar-brand i{
    font-size: 35px;
}

.navbar-nav button i{
    font-size: 25px;
}

#sony img{
    width: 100px;
}

main{
    padding-top: 90px;
}

.jumbotron .text{
    bottom: 50px;
    left: 20px;

    font-size: 20px;
}

.jumbotron#returnal-bg > figure{
    height: 675px;
}

.jumbotron#it-takes-two-bg > figure{
    height: 900px;
}

.jumbo-bottom img{
    transition:all 0.5s;
}

.jumbo-bottom img:hover{
    transform: translateY(-10px);
}

.other-products figure{
    opacity: 0.75;
    transition: all 0.15s;
}

.other-products figure:hover{
    opacity: 1;
}

.other-products i{
    font-size: 8px;
    vertical-align:super;
}

section.follow-us{
    max-width: 1000px;
}

footer .big i{
    font-size: 45px;
}
